# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://trrllsgwvsxqtsenhubx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRycmxsc2d3dnN4cXRzZW5odWJ4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDIyNjc4MTEsImV4cCI6MjA1Nzg0MzgxMX0.SkG7mn983gp4ZqwN3HYWz1oz8COr2YQoAJp2LD3mQM8
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRycmxsc2d3dnN4cXRzZW5odWJ4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0MjI2NzgxMSwiZXhwIjoyMDU3ODQzODExfQ.xNAV1TiwA61LeaOs-3T2eGtbKIa1fKl40iEUPD2ufZo